<h1>Session review</h1>

<p>This is a review of <%= @appointment.mentor_name %> by <%= @appointment.student_name %></p>

<p>Rating:  <%= @mentor_review.student_rating_of_mentor %></p>

<p>Review:</p>
<p><%= @mentor_review.student_review_of_mentor %></p>
