<h1>Session review</h1>

<p>This is a review of <%= @appointment.student.user.full_name %> by <%= @appointment.mentor.user.full_name %></p>

<p>Rating:  <%= @student_review.mentor_rating_of_student %></p>

<p>Review:</p>
<p><%= @student_review.mentor_review_of_student %></p>
