<div id='app-header'>

<% if current_user %>
<p>Logged in: <%= @user.first_name %> <%= @user.last_name %><br/>
<%= link_to 'Logout', logout_path_url %></p>
<% else %>
<p>No user logged in.</p>
<% end %>

<h1>Mentor Session Scheduler</h1>

</div>
